---
import { AllCampaignCarousel } from "@/components/give/AllCampaignCarousel";
import { FeaturedCampaignCarousel } from "@/components/give/FeaturedCampaignCarousel";
import GiveDecorativeIcons from "@/components/give/GiveDecorativeIcons.astro";
import { GivingOptionsAccordion } from "@/components/give/GivingOptionsAccordion";
import data from "@/data/give.json";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const { locale } = Astro.params;
const { featuredCampaigns, allCampaigns, givingOptions } = data;
---

<Layout title="Give — Arise Asia" locale={locale!}>
  <div class="relative overflow-hidden">
    <section
      class="container relative z-10 mx-auto flex flex-col px-8 pt-40 md:px-16 lg:px-32 lg:pt-48 xl:px-48"
    >
      <h1 class="text-h1 uppercase">Giving</h1>
      <p class="font-heading">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </section>
    <section class="bg-accent-blue-darker mt-10 py-2">
      <div class="container relative z-10 mx-auto px-8 md:px-16 lg:px-32 xl:px-48">
        <p
          class="font-heading text-2xl font-bold text-white uppercase md:text-3xl lg:text-4xl"
        >
          <span class="text-primary-orange">Join us!</span> You can <span
            class="whitespace-nowrap md:whitespace-normal"
            >make an impact <Icon
              name="lucide:arrow-down"
              class="inline size-5 sm:size-6 md:size-8 lg:size-12"
            /></span
          >
        </p>
      </div>
    </section>
    <GiveDecorativeIcons />
  </div>
  <section id="featured-campaign" class="pt-20">
    <div class="container mx-auto px-8 md:px-16 lg:px-32 xl:px-48">
      <h2
        class="font-heading text-accent-blue-darker mb-3 text-2xl font-medium uppercase md:mb-5 md:text-3xl xl:text-4xl"
      >
        Featured Campaign
      </h2>
    </div>
    <div class="bg-accent-orange-lightest overflow-visible py-10 lg:py-20">
      <div
        class="container mx-auto px-8 md:px-16 lg:-mt-32 lg:-mb-36 lg:pr-0 lg:pl-32 xl:pl-48"
      >
        <FeaturedCampaignCarousel client:load data={featuredCampaigns} />
      </div>
    </div>
  </section>
  <section id="upcoming-campaign" class="pt-20">
    <div class="container mx-auto px-8 md:px-16 lg:px-32 xl:px-48">
      <h2
        class="font-heading text-accent-blue-darker mb-3 text-2xl font-medium uppercase md:mb-5 md:text-3xl lg:text-4xl"
      >
        Campaigns
      </h2>
    </div>
    <div class="pl-8 sm:pl-16 md:pl-28 lg:pl-48 xl:pl-60">
      <AllCampaignCarousel client:load data={allCampaigns} />
    </div>
  </section>
  <section
    id="giving-options"
    class="container mx-auto px-8 pt-10 pb-10 md:px-16 md:pb-16 lg:px-32 lg:pb-24 xl:px-48"
  >
    <h2
      class="font-heading text-accent-blue-darker mb-3 text-2xl font-medium uppercase md:mb-5 md:text-3xl lg:text-4xl"
    >
      Giving Options
    </h2>
    <GivingOptionsAccordion client:load items={givingOptions} />
  </section>
</Layout>
