---
import Layout from '../../layouts/Layout.astro';
import { getPosts } from '../../lib/wordpress';

const { locale } = Astro.params;
const posts = await getPosts(locale);
---

<Layout title="My Blog" locale={locale!}>
  <h1>Latest Posts</h1>
  <ul>
    {posts.map(post => (
      <li><a href={`/${locale}/posts/${post.slug}`}>{post.title.rendered}</a></li>
    ))}
  </ul>
</Layout>
