---
interface Props {
  target: number;
}

const { target } = Astro.props;
---

<span data-animated-counter={target}>0</span>

<script lang="ts">
  const observer = new IntersectionObserver(
    (entries) => {
      for (const entry of entries) {
        if (!entry.isIntersecting) continue;
        const el = entry.target as HTMLElement;
        observer.unobserve(el);

        const target = parseInt(el.dataset.animatedCounter || "0");
        const base = 1000;
        const duration = Math.min(base, Math.max(300, base * (target / 100)));
        const startTime = performance.now();

        const tick = (now: number) => {
          const elapsed = now - startTime;
          const p = Math.min(1, elapsed / duration);
          el.textContent = Math.floor(p * target).toString();

          if (elapsed < duration) requestAnimationFrame(tick);
          else el.textContent = target.toString();
        };

        requestAnimationFrame(tick);
      }
    },
    { threshold: 0 },
  );

  document
    .querySelectorAll<HTMLElement>("[data-animated-counter]")
    .forEach((el) => observer.observe(el));
</script>
