---
import type { WPPost } from "@/lib/types";

export interface Props {
  post: WPPost;
  locale: string;
}

const { post, locale } = Astro.props;
---

<li>
  <a href={`/${locale}/posts/${post.slug}`}>
    <h2>{post.title.rendered}</h2>
    {post.excerpt?.rendered && <p set:html={post.excerpt.rendered} />}
    {
      post.acf?.subtitle && (
        <p>
          <strong>{post.acf.subtitle as string}</strong>
        </p>
      )
    }
  </a>
</li>
