---
---

<section
  id="subscribe"
  class="bg-accent-blue-lightest relative overflow-hidden px-8 py-16 md:px-16 lg:px-32 xl:px-48"
>
  <div class="container-page relative flex flex-col gap-8">
    <h2
      class="font-heading from-accent-blue-darker to-primary-blue-lighter bg-linear-to-r bg-clip-text text-3xl font-semibold text-transparent uppercase md:text-4xl"
    >
      Stay up to date with Arise!
    </h2>
    <form class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-x-8">
      <div class="flex flex-col gap-1">
        <label for="first-name" class="text-sm font-medium">First Name</label>
        <input
          id="first-name"
          type="text"
          placeholder="Enter your first name"
          class="border-neutral-cool-primary rounded-lg border px-4 py-2.5 text-sm"
        />
      </div>
      <div class="flex flex-col gap-1">
        <label for="last-name" class="text-sm font-medium">Last Name</label>
        <input
          id="last-name"
          type="text"
          placeholder="Enter your last name"
          class="border-neutral-cool-primary rounded-lg border px-4 py-2.5 text-sm"
        />
      </div>
      <div class="flex flex-col gap-1">
        <label for="country" class="text-sm font-medium">Country</label>
        <select
          id="country"
          class="border-neutral-cool-primary rounded-lg border px-4 py-2.5 text-sm"
        >
          <option value="">Select your country</option>
        </select>
      </div>
      <div class="flex flex-col gap-1">
        <label for="email" class="text-sm font-medium">Email</label>
        <input
          id="email"
          type="email"
          placeholder="Enter your email"
          class="border-neutral-cool-primary rounded-lg border px-4 py-2.5 text-sm"
        />
      </div>
      <div class="flex flex-col gap-4 sm:flex-row md:col-span-2">
        <button
          type="submit"
          class="bg-primary-blue font-heading rounded-full px-6 py-3 text-xs font-bold text-white uppercase"
        >
          Subscribe to our newsletter
        </button>
        <a
          href="https://wa.me/"
          target="_blank"
          rel="noopener noreferrer"
          class="border-primary-blue text-primary-blue font-heading rounded-full border-2 px-6 py-3 text-center text-xs font-bold uppercase"
        >
          Join on Whatsapp
        </a>
      </div>
    </form>
  </div>
</section>
