---
import { Icon } from "astro-icon/components";

export interface Props {
  locale: string;
}

const { locale } = Astro.props;
---

<footer class="relative overflow-visible bg-blue-50">
  <p
    class="font-heading pointer-events-none absolute inset-0 flex items-center justify-center overflow-hidden font-semibold text-blue-600 uppercase opacity-[0.07] select-none"
    aria-hidden="true"
  >
    <span
      class="text-center text-[clamp(160px,20vw,262px)] leading-[0.75] tracking-[-0.09em] md:whitespace-nowrap"
    >
      <span class="block md:inline">Arise</span>
      <span class="block md:inline">Asia</span>
    </span>
  </p>
  <div class="relative z-10 container p-12 sm:px-20">
    <div class="flex flex-col justify-between md:flex-row md:items-center">
      <div class="flex flex-col gap-3 md:gap-5">
        <h2 class="text-h4 text-blue-600 uppercase">Arise Asia</h2>

        <div class="mb-6 flex justify-start gap-x-4">
          <a
            href="https://www.instagram.com/ariseasia.movement"
            rel="noopener noreferrer"
            target="_blank"
          >
            <Icon
              name="fa6-brands:instagram"
              class="text-neutral-700 hover:text-yellow-500"
              size={28}
            />
          </a>
          <a
            href="https://www.youtube.com/@AriseAsiaMovement"
            rel="noopener noreferrer"
            target="_blank"
          >
            <Icon
              name="fa6-brands:youtube"
              class="text-neutral-700 hover:text-red-500"
              size={28}
            />
          </a>
          <a
            href="https://www.facebook.com/ariseasia2023"
            rel="noopener noreferrer"
            target="_blank"
          >
            <Icon
              name="fa6-brands:facebook"
              class="text-neutral-700 hover:text-blue-500"
              size={28}
            />
          </a>
        </div>
      </div>

      <div class="flex flex-col gap-5">
        <div
          class="text-p ml-auto flex justify-center gap-5 px-3 md:gap-10 md:px-0"
        >
          <a
            href={`/${locale}/`}
            class="font-semibold uppercase hover:text-blue-600">Home</a
          >
          <a
            href={`/${locale}/about`}
            class="font-semibold uppercase hover:text-blue-600">About Us</a
          >
          <a
            href={`/${locale}/movements`}
            class="font-semibold uppercase hover:text-blue-600">Movements</a
          >
          <a
            class="font-semibold uppercase hover:text-blue-600"
            href="https://www.totalideas.org/projects"
            rel="noopener noreferrer"
            target="_blank">Giving</a
          >
        </div>

        <p class="text-p text-neutral-400 italic md:text-right">
          Copyright &copy;2022-2026 Arise Asia. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
