<div class="pointer-events-none absolute inset-0" aria-hidden="true">
  <!-- md+ -->
  <div class="hidden lg:block">
    <div
      class="bg-gradient-accent animate-float absolute top-36 right-80 size-24 -rotate-12"
      style="-webkit-mask: url('/icons/fire.svg') no-repeat center / contain; mask: url('/icons/fire.svg') no-repeat center / contain;"
    >
    </div>
    <div
      class="bg-gradient-accent animate-float absolute top-64 right-24 size-18 -rotate-16 opacity-50 blur-sm [animation-delay:450ms]"
      style="-webkit-mask: url('/icons/path.svg') no-repeat center / contain; mask: url('/icons/path.svg') no-repeat center / contain;"
    >
    </div>
    <div
      class="bg-gradient-accent animate-float absolute top-90 right-42 size-24 -rotate-90 [animation-delay:750ms]"
      style="-webkit-mask: url('/icons/stone.svg') no-repeat center / contain; mask: url('/icons/stone.svg') no-repeat center / contain;"
    >
    </div>
    <div
      class="bg-gradient-accent animate-float absolute top-68 right-64 size-22 -rotate-8 opacity-50 blur-sm [animation-delay:300ms]"
      style="-webkit-mask: url('/icons/cross.svg') no-repeat center / contain; mask: url('/icons/cross.svg') no-repeat center / contain;"
    >
    </div>
    <div
      class="bg-gradient-accent animate-float absolute top-40 right-36 size-18 rotate-24 [animation-delay:600ms]"
      style="-webkit-mask: url('/icons/wave.svg') no-repeat center / contain; mask: url('/icons/wave.svg') no-repeat center / contain;"
    >
    </div>
    <div
      class="bg-gradient-accent animate-float absolute top-92 right-18 size-16 rotate-20 opacity-50 blur-sm [animation-delay:900ms]"
      style="-webkit-mask: url('/icons/altar.svg') no-repeat center / contain; mask: url('/icons/altar.svg') no-repeat center / contain;"
    >
    </div>
  </div>
  <!-- <md -->
  <div class="lg:hidden">
    <div
      class="bg-gradient-accent animate-float absolute top-16 right-14 size-16 -rotate-12"
      style="-webkit-mask: url('/icons/fire.svg') no-repeat center / contain; mask: url('/icons/fire.svg') no-repeat center / contain;"
    >
    </div>
    <div
      class="bg-gradient-accent animate-float absolute top-82 right-8 size-16 rotate-24 [animation-delay:600ms]"
      style="-webkit-mask: url('/icons/wave.svg') no-repeat center / contain; mask: url('/icons/wave.svg') no-repeat center / contain;"
    >
    </div>
    <div
      class="bg-gradient-accent animate-float absolute top-40 right-18 size-18 -rotate-8 opacity-50 blur-sm [animation-delay:300ms]"
      style="-webkit-mask: url('/icons/cross.svg') no-repeat center / contain; mask: url('/icons/cross.svg') no-repeat center / contain;"
    >
    </div>
    <div
      class="bg-gradient-accent animate-float absolute top-60 right-4 size-18 rotate-20 opacity-50 blur-sm [animation-delay:900ms]"
      style="-webkit-mask: url('/icons/altar.svg') no-repeat center / contain; mask: url('/icons/altar.svg') no-repeat center / contain;"
    >
    </div>
  </div>
</div>
