<!-- Mobile icons (below md) -->
<div class="pointer-events-none md:hidden" aria-hidden="true">
  <div
    class="bg-gradient-accent animate-float absolute top-46 left-42 size-16 -rotate-12 opacity-50 blur-sm sm:left-70 sm:size-20"
    style="-webkit-mask: url('/icons/fire.svg') no-repeat center / contain; mask: url('/icons/fire.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-28 left-6 size-12 rotate-8 opacity-50 blur-sm sm:left-4 sm:size-16"
    style="-webkit-mask: url('/icons/spark.svg') no-repeat center / contain; mask: url('/icons/spark.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-34 right-8 size-10 rotate-24 opacity-50 blur-sm sm:right-16 sm:size-14"
    style="-webkit-mask: url('/icons/altar.svg') no-repeat center / contain; mask: url('/icons/altar.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-34 left-24 size-18 -rotate-20 sm:left-36 sm:size-24"
    style="-webkit-mask: url('/icons/cross.svg') no-repeat center / contain; mask: url('/icons/cross.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-52 left-18 size-10 -rotate-96 opacity-50 blur-sm sm:left-20 sm:size-14"
    style="-webkit-mask: url('/icons/stone.svg') no-repeat center / contain; mask: url('/icons/stone.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-28 right-30 size-14 rotate-20 sm:right-56 sm:size-20"
    style="-webkit-mask: url('/icons/path.svg') no-repeat center / contain; mask: url('/icons/path.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-54 right-12 size-14 -rotate-15 sm:right-28 sm:size-20"
    style="-webkit-mask: url('/icons/wave.svg') no-repeat center / contain; mask: url('/icons/wave.svg') no-repeat center / contain;"
  >
  </div>
</div>
<!-- Desktop icons (md+) -->
<div class="pointer-events-none hidden md:block" aria-hidden="true">
  <!-- Left side -->
  <div
    class="bg-gradient-accent animate-float absolute top-8 -rotate-8 md:left-20 md:size-24 lg:left-38 lg:size-28 xl:left-52 xl:size-36"
    style="-webkit-mask: url('/icons/fire.svg') no-repeat center / contain; mask: url('/icons/fire.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-48 -rotate-15 opacity-50 blur-sm [animation-delay:150ms] md:left-6 md:size-16 lg:left-12 lg:size-20 xl:left-16 xl:size-24"
    style="-webkit-mask: url('/icons/cross.svg') no-repeat center / contain; mask: url('/icons/cross.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-80 -rotate-96 [animation-delay:300ms] md:left-10 md:size-16 lg:left-14 lg:size-20 xl:left-18 xl:size-28"
    style="-webkit-mask: url('/icons/stone.svg') no-repeat center / contain; mask: url('/icons/stone.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-128 rotate-16 opacity-50 blur-sm [animation-delay:450ms] md:left-10 md:size-14 lg:left-20 lg:size-16 xl:left-26 xl:size-20"
    style="-webkit-mask: url('/icons/spark.svg') no-repeat center / contain; mask: url('/icons/spark.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-152 rotate-24 [animation-delay:600ms] md:left-18 md:size-20 lg:left-36 lg:size-20 xl:left-48 xl:size-28"
    style="-webkit-mask: url('/icons/wave.svg') no-repeat center / contain; mask: url('/icons/wave.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-188 -rotate-12 opacity-50 blur-sm [animation-delay:750ms] md:left-12 md:size-16 lg:left-22 lg:size-20 xl:left-30 xl:size-24"
    style="-webkit-mask: url('/icons/altar.svg') no-repeat center / contain; mask: url('/icons/altar.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-224 rotate-8 [animation-delay:900ms] md:left-20 md:size-28 lg:left-38 lg:size-32 xl:left-52 xl:size-40"
    style="-webkit-mask: url('/icons/path.svg') no-repeat center / contain; mask: url('/icons/path.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-270 rotate-20 opacity-50 blur-sm [animation-delay:1050ms] md:left-20 md:size-12 lg:left-38 lg:size-16 xl:left-50 xl:size-20"
    style="-webkit-mask: url('/icons/fire.svg') no-repeat center / contain; mask: url('/icons/fire.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-296 -rotate-10 opacity-50 blur-sm [animation-delay:1200ms] md:left-28 md:size-16 lg:left-56 lg:size-20 xl:left-80 xl:size-24"
    style="-webkit-mask: url('/icons/cross.svg') no-repeat center / contain; mask: url('/icons/cross.svg') no-repeat center / contain;"
  >
  </div>
  <!-- Right side -->
  <div
    class="bg-gradient-accent animate-float absolute top-8 rotate-12 md:right-26 md:size-24 lg:right-48 lg:size-24 xl:right-64 xl:size-32"
    style="-webkit-mask: url('/icons/spark.svg') no-repeat center / contain; mask: url('/icons/spark.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-44 -rotate-8 opacity-50 blur-sm [animation-delay:150ms] md:right-14 md:size-16 lg:right-28 lg:size-20 xl:right-36 xl:size-24"
    style="-webkit-mask: url('/icons/wave.svg') no-repeat center / contain; mask: url('/icons/wave.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-80 rotate-24 [animation-delay:300ms] md:right-6 md:size-16 lg:right-10 lg:size-20 xl:right-12 xl:size-28"
    style="-webkit-mask: url('/icons/path.svg') no-repeat center / contain; mask: url('/icons/path.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-116 -rotate-15 [animation-delay:450ms] md:right-8 md:size-28 lg:right-16 lg:size-32 xl:right-20 xl:size-40"
    style="-webkit-mask: url('/icons/cross.svg') no-repeat center / contain; mask: url('/icons/cross.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-164 rotate-96 opacity-50 blur-sm [animation-delay:600ms] md:right-28 md:size-14 lg:right-52 lg:size-16 xl:right-70 xl:size-20"
    style="-webkit-mask: url('/icons/stone.svg') no-repeat center / contain; mask: url('/icons/stone.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-188 -rotate-20 [animation-delay:750ms] md:right-12 md:size-24 lg:right-24 lg:size-28 xl:right-32 xl:size-36"
    style="-webkit-mask: url('/icons/fire.svg') no-repeat center / contain; mask: url('/icons/fire.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-228 rotate-8 opacity-50 blur-sm [animation-delay:900ms] md:right-22 md:size-16 lg:right-42 lg:size-20 xl:right-56 xl:size-24"
    style="-webkit-mask: url('/icons/altar.svg') no-repeat center / contain; mask: url('/icons/altar.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-260 -rotate-16 [animation-delay:1050ms] md:right-28 md:size-24 lg:right-56 lg:size-24 xl:right-72 xl:size-30"
    style="-webkit-mask: url('/icons/spark.svg') no-repeat center / contain; mask: url('/icons/spark.svg') no-repeat center / contain;"
  >
  </div>
  <div
    class="bg-gradient-accent animate-float absolute top-296 rotate-30 opacity-50 blur-sm [animation-delay:1200ms] md:right-24 md:size-16 lg:right-48 lg:size-20 xl:right-64 xl:size-24"
    style="-webkit-mask: url('/icons/wave.svg') no-repeat center / contain; mask: url('/icons/wave.svg') no-repeat center / contain;"
  >
  </div>
</div>
