---
export interface Props {
  breadcrumb: string;
  title: string;
}

const { breadcrumb, title } = Astro.props;
const hasDescription = Astro.slots.has("default");
---

<section id="hero" class="relative overflow-hidden">
  <div
    class="relative flex h-64 flex-col justify-center bg-[url('/images/about-us-bg.png')] bg-cover bg-center sm:h-80 md:h-96 lg:h-[369px]"
  >
    <div class="absolute inset-0 bg-black/25"></div>
    <div
      class="container-page relative flex flex-col px-8 pt-24 md:px-16 lg:px-32 lg:pt-28 xl:px-48"
    >
      <p
        class="font-heading mb-2 text-xs font-semibold tracking-wide text-white uppercase md:text-sm"
      >
        {breadcrumb}
      </p>
      <h1 class="text-h1 text-white uppercase">{title}</h1>
    </div>
  </div>
  {
    hasDescription && (
      <div class="bg-accent-orange-lightest">
        <div class="container-page flex flex-col px-8 py-8 md:px-16 lg:px-32 xl:px-48">
          <slot />
        </div>
      </div>
    )
  }
</section>
